

  <!-- Main page -->
<div *ngIf="!isPreview" class="nametags-panel panel" [ngClass]="{'panel': !isPreview }">
  <div class="nametags-panel-body panel-body" [ngClass]="{'panel-body': !isPreview }">
    <button type="button" class="btn-custom nametags-cornered" (click)="setPreview(true);" >Preview</button>
    <div class="row">
      <div class="col-md-4">
          <div>
            <h3>Name Tags</h3>
          </div>
      </div>
      <div class="col-md-8">
        <div>
          <table class="table-container">
            <thead>
              <tr>
                <th>first name</th>
                <th>last name</th>
                <th>phone</th>
                <th>email</th>
                <th>active</th>
              </tr>
            </thead>

            <tbody>
              <!-- <tr  *ngFor="let al of (memberlist | asFilter:activeFilter:familyFilter:VIPFilter:nametagFilter:firstNameFilter:lastNameFilter);" [class.itemselected]="item === selectedItem" (click)="onUsingTable(al)" > -->
              <tr  *ngFor="let al of memberlist;" [class.itemselected]="item === selectedItem" (click)="onClickTable(al)" >
                <td> {{al.firstName}} </td>
                <td> {{al.lastName}} </td>
                <td> {{al.phone}} </td>
                <td> {{al.email}} </td>
                <td> {{ toYN(al.isActive) }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



  <!-- Preview page -->
<div *ngIf="isPreview" class="nametags-previewpage">
  <button type="button" class="btn-custom nametags-cornered no-print" (click)="setPreview(false);" >Exit Preview</button>

  <div class="nametags-page">

    <div class="nametags-left">
      <div class="Xnametags-tagcontainer">
        <div class="Xnametags-tagbox">
          <div class="nametags-tag">
            <div class="nametags-firstname">
              Zed
            </div>
            <div class="nametags-lastname">
              Zilby
            </div>
            <div class="nametags-logo-container">
              <img class="nametags-logo" [src]="logoUrl"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nametags-right">
      <div class="Xnametags-tagcontainer">
        <div class="Xnametags-tagbox">
          <div class="nametags-tag">
            <div class="nametags-firstname">
              Zeda
            </div>
            <div class="nametags-lastname">
              Zetler
            </div>
            <div class="nametags-logo-container">
              <img class="nametags-logo" [src]="logoUrl"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>