

  <!-- Main page -->
<div *ngIf="!isPreview">
  <div class="panel">

    <div class="panel-body">
      <button type="button" class="btn-custom nametags-cornered nametags-left" (click)="isPreview=true" >Preview</button>
      <div class="top-logo"> 
        <img [src]="logoUrl"/>
        <h1>| Name Tags</h1>
      </div>
      <div class="row">
        <div class="col-md-8">

          <table class="table-container">
            <tbody>
              <tr>
                <th>first name</th>
                <th>last name</th>
                <th>phone</th>
                <th>email</th>
                <th>active</th>
              </tr>
              <tr *ngFor="let al of memberlist;" [class.itemselected]="item === selectedItem" (click)="onClickTable(al)" >
                <td> {{al.firstName}} </td>
                <td> {{al.lastName}} </td>
                <td> {{al.phone}} </td>
                <td> {{al.email}} </td>
                <td> {{ toYN(al.isActive) }} </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    
  </div>
</div>



<!-- Preview page -->
<div *ngIf="isPreview" class="nametags-previewpage">

  <div class="nametags-controlpanel hidden-print nametags-cornered">
    <button type="button" class="btn-custom nametags-cornered nametags-left" (click)="isPreview=false" >Exit Preview</button>
    
    <p class="nametags-bold nametags-pushdown">Adjust Margins</p>
    <p class="nametags-sliderlabel">(-2.0 to 2.0)</p>
    <p class="nametags-sliderlabel">(tenths of an inch)</p>
    <p>&nbsp;</p>
    <p class="nametags-sliderlabel">Top Margin</p>
    <p class="nametags-sliderlabel">
      <button type="button" class="glyphicon glyphicon-triangle-top" (click)="incTop(-0.1)" ></button>
      <input id="Top_Slider" class="nametags-slidervalue" [(ngModel)]="topSlider" (change)="topSliderChange($event)"/>
      <button type="button" class="glyphicon glyphicon-triangle-bottom" (click)="incTop(0.1)" ></button>
    </p>
      
    <p>&nbsp;</p>
    <p class="nametags-sliderlabel">Left Margin</p>
    <p class="nametags-sliderlabel">
      <button type="button" class="glyphicon glyphicon-triangle-left" (click)="incLeft(-0.1)" ></button>
      <input id="Left_Slider" class="nametags-slidervalue" [(ngModel)]="leftSlider" (change)="leftSliderChange($event)"/>
      <button type="button" class="glyphicon glyphicon-triangle-right" (click)="incLeft(0.1)" ></button>
    </p>

    <p>&nbsp;</p>
    <p class="nametags-sliderlabel">Nudge Up &amp; Down</p>
    <p class="nametags-sliderlabel">
      <button type="button" class="glyphicon glyphicon-triangle-top" (click)="incNudge(-0.1)" ></button>
      <input id="Nudge_Slider" class="nametags-slidervalue" [(ngModel)]="nudgeSlider" (change)="nudgeSliderChange($event)"/>
      <button type="button" class="glyphicon glyphicon-triangle-bottom" (click)="incNudge(0.1)" ></button>
    </p>

  </div>

  <div *ngFor="let page of indexes(numPages());" class="nametags-page" [style.top.in]="pageTop(page)">
    <div class="nametags-table">

      <div *ngFor="let row of indexes(3);" class="nametags-row">
        <div *ngFor="let col of indexes(2);" class="nametags-cell" [attr.data-index]="getIndex(page,row,col)">

          <div class="tag{{row*2+col+1}} nametags-tag" *ngIf="!isNameTagBlank(getMember(page,row,col))">
            <div class="nametags-tagcontent">
              <div class="nametags-firstname">
                {{ getMember(page, row, col).firstName }}
              </div>
              <div class="nametags-lastname">
                {{ getMember(page, row, col).lastName }}
              </div>
              <div class="nametags-logo-container">
                <img class="nametags-logo" [src]="logoUrl"/>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div> <!-- end nametags-page -->

</div> <!-- end nametags-previewpage -->