body{
  background: #1d2528;
  color: #3cb0fd;
}
h1{
  background: #1d2528;
  color: #3cb0fd;
}
h2{
  background: #1d2528;
}

h3{
  background: #1d2528;
}
div{
  background: #1d2528;
}
a{
  background: #1d2528;
}
