/* You can add global styles to this file, and also import other style files */

/* Classes */

.setheight {
  height: 38px;
}

.form-inline{
  background-color: #1d2528;
  color: lightblue;
}

.form-control {
  background-color: #1d2528;
  color: lightblue;
}

.form-control option{
  background-color: #1d2528;
  color: lightblue;
  max-height: 2em;
}
.form-control input{
  background-color: #1d2528;
  color: lightblue;
  max-height: 2em;
  max-width: 4em;
}

/* Button Styles */

.btn-red {
  background: #db0c1c;
  background-image: -webkit-linear-gradient(top, #db0c1c, #041d2d);
  background-image: -moz-linear-gradient(top, #db0c1c, #041d2d);
  background-image: -ms-linear-gradient(top, #db0c1c, #041d29);
  background-image: -o-linear-gradient(top, #db0c1c, #041d2d);
  background-image: linear-gradient(to bottom, #db0c1c, #041d2d);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial;
  color: yellow;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn-red:hover {
  background: #ef5252;
  background-image: -webkit-linear-gradient(top, #ef5252, #382a2a);
  background-image: -moz-linear-gradient(top, #ef5252, #382a2a);
  background-image: -ms-linear-gradient(top, #ef5252, #382a2a);
  background-image: -o-linear-gradient(top, #ef5252, #382a2a);
  background-image: linear-gradient(to bottom, #ef5252, #382a2a);
  text-decoration: none;
}

.btn-custom {
  background: #3439db;
  background-image: -webkit-linear-gradient(top, #3439db, #041d2d);
  background-image: -moz-linear-gradient(top, #3439db, #041d2d);
  background-image: -ms-linear-gradient(top, #3439db, #041d2d);
  background-image: -o-linear-gradient(top, #3439db, #041d2d);
  background-image: linear-gradient(to bottom, #3439db, #041d2d);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial;
  color: yellow;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn-custom:hover {
  background: #3f50d2;
  background-image: -webkit-linear-gradient(top, #3f50d2, #363a5a);
  background-image: -moz-linear-gradient(top, #3f50d2, #363a5a);
  background-image: -ms-linear-gradient(top, #3f50d2, #363a5a);
  background-image: -o-linear-gradient(top, #3f50d2, #363a5a);
  background-image: linear-gradient(to bottom, #3f50d2, #363a5a);
  text-decoration: none;
}

.btn {
  background: #242b30;
  background-image: -webkit-linear-gradient(top, #242b30, #20292e);
  background-image: -moz-linear-gradient(top, #242b30, #20292e);
  background-image: -ms-linear-gradient(top, #242b30, #20292e);
  background-image: -o-linear-gradient(top, #242b30, #20292e);
  background-image: linear-gradient(to bottom, #242b30, #20292e);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-family: Arial;
  color: #a090f0;
  font-size: 9px;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
}

.btn:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #111111);
  background-image: -moz-linear-gradient(top, #000000, #111111);
  background-image: -ms-linear-gradient(top, #000000, #111111);
  background-image: -o-linear-gradient(top, #000000, #111111);
  background-image: linear-gradient(to bottom, #000000, #111111);
  text-decoration: none;
}